<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{basics.name}}`s resume</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" type="image/png" href="favicon.ico" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="css/app.min.css">

  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(71991553, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/71991553" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a target='_blank' href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <header>
    <h1>{{basics.name}}</h1>
    <h2>{{basics.label}}</h2>
    <div class="header__contacts">
      <ul>
        <li>
          <span class="header__contacts__title">email</span>
          <span class="header__contacts__info">
            <a target='_blank' href="mailto:{{basics.email}}">{{basics.email}}</a>
          </span>
        </li>
        <li>
          <span class="header__contacts__title">website</span>
          <span class="header__contacts__info">
            <a target='_blank' href="{{basics.website}}">{{basics.website}}</a>
          </span>
        </li>
        <li>
          <span class="header__contacts__title">telegram</span>
          <span class="header__contacts__info">
            <a target='_blank' href="https://telegram.me/{{basics.telegram}}">{{basics.telegram}}</a>
          </span>
        </li>
      </ul>
    </div>
    <div class="header__logo">
      <img src="img/logo.png" alt="logo" loading="lazy" width="300" height="300" />
    </div>
    <div class="header__profiles">
      <div class="header__profiles__title">profiles</div>
      <ul>
        {{#basics.profiles}}
        <li class="header__profiles__{{icon}}">
          <a target='_blank' href="{{url}}">{{network}}</a>
        </li>
        {{/basics.profiles}}
      </ul>
    </div>
  </header>
  <a class="download-resume" href="/resume.pdf">You can download this resume, if you need it</a>
  <section class="about">
    <h3 class="about__title">About</h3>
    <p>{{&basics.summary}}</p>
  </section>
  <section class="work-experience">
    <h3 class="work-experience__title">Work Experience</h3>
    {{#work}}
      <div class="work-experience__item">
        <div class="work-experience__item__title">
          <span>
            {{position}},
            {{#website}}<a target='_blank' href="{{website}}">{{company}}</a>{{/website}}
            {{^website}}<span style="color:grey;">{{company}}</span>{{/website}}
          </span>
        </div>
        <div class="work-experience__item__dates">
          {{startDate}}
          {{#endDate}} - {{endDate}}{{/endDate}}
        </div>
        <div class="work-experience__item__description">{{&summary}}</div>
        <div class="work-experience__item__stack">
          <span>Stack</span>
          <ul>
            {{#stack}}
              <li>{{.}}</li>
            {{/stack}}
          </ul>
        </div>
      </div>
    {{/work}}
  </section>
  <section class="certifications">
    <h3 class="certifications__title">Certifications</h3>
    {{#certifications}}
    <div class="certifications__item">
      <div class="certifications__item__title"><a target='_blank' href="{{url}}">{{title}}</a></div>
      <div class="certifications__item__dates">{{dates}}</div>
    </div>
    {{/certifications}}
  </section>
  <section class="skills">
    <h3 class="skills__title">Skills</h3>
    <div class="skills__item">
      {{#skills}}
        <div class="skills__item__title">{{name}}</div>
        <ul>
          {{#keywords}}
            <li>{{.}}</li>
          {{/keywords}}
        </ul>
      {{/skills}}
    </div>
  </section>
  <section class="education">
    <h3 class="education__title">Education</h3>
    {{#education}}
    <div class="education__item">
      <div class="education__item__title">{{studyType}}, {{area}} - {{institution}}</div>
      <div class="education__item__dates">{{startDate}} – {{endDate}}</div>
      <div class="education__item__gpa">GPA: {{gpa}}</div>
    </div>
    {{/education}}
  </section>
  <section class="Interests">
    <h3 class="interests__title">Interests</h3>
    <div class="interests__item">
      {{#interests}}
        <div class="interests__item__title">{{name}}</div>
        <ul>
          {{#keywords}}
            <li>{{.}}</li>
          {{/keywords}}
        </ul>
      {{/interests}}
    </div>
  </section>
  <footer>
  </footer>

  <script src="js/app.min.js"></script>
</body>

</html>
