@import "node_modules/normalize.css/normalize";
@import "node_modules/font-awesome/scss/variables";
$fa-font-path: "../fonts";
@import "node_modules/font-awesome/scss/path";

::selection {
    background: yellow;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 50px;
}

a {
    &:hover {
        color: white;
        background-color: black;
    }
    color: gray;
    text-decoration: none;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;

    @media (max-width: 480px) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 1.75rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    @media (max-width: 480px) {
        font-size: 1rem;
    }
}

h3 {
    font-size: 1.75rem;
    @media (max-width: 480px) {
        font-size: 1rem;
    }
}

.download-resume {
    display: block;
    position: fixed;
    padding: 10px;
    bottom: 0;
    right: 0;
    background: white;

    @media (max-width: 480px) {
        text-align: center;
        width: 100%;
        padding: 5px 0;
    }
}

header {
    text-align: center;
    .header {
        &__contacts {
            ul {
                list-style: none;
                padding-left: 0;
                margin-bottom: 2rem;
                &>li {
                    font-size: 1.2rem;
                    @media (max-width: 480px) {
                        font-size: 1rem;
                    }
                }
            }
            &__title {
                text-transform: uppercase;
                font-weight: bold;
                &:after {
                    content: '•';
                    margin-left: 5px;
                }
            }
        }
        &__profiles {
            &__title {
                text-transform: uppercase;
                font-size: 1.2rem;
                margin-bottom: 2rem;
                font-weight: bold;
            }
            ul {
                list-style: none;
                padding-left: 0;
                &>li {
                    &:before {
                        font-family: FontAwesome;
                        margin-right: 5px;
                    }
                    font-size: 1.2rem;
                    @media (max-width: 480px) {
                        font-size: 1rem;
                    }
                }
            }
            &__github {
                &:before {
                    content: $fa-var-github;
                }
            }
            &__bitbucket {
                &:before {
                    content: $fa-var-bitbucket;
                }
            }
            &__linkedin {
                &:before {
                    content: $fa-var-linkedin;
                }
            }
            &__stackoverflow {
                &:before {
                    content: $fa-var-stack-overflow;
                }
            }
        }
    }
}

section {
    margin: 0 10%;
    h3:before {
        margin-right: 10px;
        font-family: FontAwesome, serif;
    }
    p {
        font-size: 1rem;
    }
    .about {
        &__title {
            &:before {
                content: $fa-var-user;
            }
        }
    }
    .work-experience {
        &__title:before {
            content: $fa-var-suitcase;
        }
        &__item {
            font-size: 1rem;
            &__title {
                font-size: 1.1rem;
                font-weight: bold;

                span {
                    border-top: 1px solid gray;
                    padding-top: 5px;
                }
            }
            &__dates {
                font-size: 0.9rem;
                font-weight: bold;
            }
            &__description {
                margin: 20px 0;
            }
            &__highlights {
                span {
                    font-weight: bold;
                }
            }
        }
    }
    .certifications {
        &__title:before {
            content: $fa-var-certificate;
        }
        &__item {
            margin: 10px 0;
            font-weight: bold;
            &__title {
                a {
                    font-size: 1.3rem;
                }
            }
            &__dates {
                font-size: 1rem;
            }
        }
    }
    .skills {
        &__title:before {
            content: $fa-var-tasks;
        }
        &__item {
            &__title {
                font-size: 1rem;
                font-weight: bold;
            }
            ul {
                padding-left: 0;
                list-style: none;
                li {
                    display: inline-block;
                    padding: 5px;
                    margin: 1px;
                    background: black;
                    color: white;
                }
            }
        }
    }
    .interests {
        &__title:before {
            content: $fa-var-heart;
        }
        &__item {
            &__title {
                font-size: 1rem;
                font-weight: bold;
            }
            ul {
                padding-left: 0;
                list-style: none;
                li {
                    display: inline-block;
                    padding: 5px;
                    margin: 1px;
                    background: black;
                    color: white;
                }
            }
        }
    }
    .education {
        &__title:before {
            content: $fa-var-graduation-cap;
        }
        &__item {
            font-size: 1rem;
            font-weight: bold;
            &__title {
                font-size: 1.1rem;
            }
            &__dates {
                font-size: 0.9rem;
            }
        }
    }
}
